<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
layout:decorate="layout">
<head>
<meta charset="utf-8" />
<title>Data Diagnosa</title>

</head>
<body class="hold-transition skin-blue sidebar-mini">
<section layout:fragment="header">
<h2>
Data Diagnosa
<small>Control panel</small>
</h2>
<ol class="breadcrumb">
<li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
<li class="active">Data Diagnosa</li>
</ol>
</section>
<div layout:fragment="content">
<div class="col-md-12">  
<div class="nav-tabs-custom">
<ul class="nav nav-tabs">
<li class="active"><a href="#tab_1" data-toggle="tab">Overview</a></li>
<li ><a href="#tab_2" data-toggle="tab">General</a></li>
</ul>
<div class="tab-content">
<div class="tab-pane active" id="tab_1">  
<div class='box-body pad'>
<div class="panel panel-default">
<table id="tabeldiag" class="table table-striped table-bordered table-hover"  cellspacing="0"
width="100%" role="grid" aria-describedby="example_info"
style="width: 100%;">
<!-- Header Table -->
<thead>
<tr>
<th>Id </th>
<th>Referensi</th>    
<th>nama penyakit</th>    
</tr>
</thead>
<!-- Footer Table -->
</table>

<input type=hidden id="a" name="a" value=""/>
<input type=hidden id="b" name="b" value=""/>
<input type=hidden id="c" name="c" value=""/>
</div>
</div>
</div>
<div class="tab-pane" id="tab_2">  
<form data-toggle="validator" role="form" th:object="${diagnosa}" th:action="@{/komit_diagnosa}" method="post">   
<div class="col-md-12">  
<div class='box-header'>
<div class="box-body">

<div class="col-md-6">     
<div class="form-group">
<label for="nama">Id</label>
<input type="text" class="form-control" th:field="*{id_diagnosa}" id="id_diagnosa" readonly />
</div>
<div class="form-group">
<label for="nama">referensi</label>
<input type="text" required="true" class="form-control" th:field="*{referensi}" id="referensi" />
</div>
<div class="form-group">
<label for="nama">Nama Penyakit</label>
<input type="text" required="true" class="form-control" th:field="*{nama_penyakit}" id="nama" name="nama_penyakit" placeholder="Masukkan Nama"/>
</div>
</div>
</div>
</div>
</div>
<button class="btn btn-vimeo btn-md"  type="submit" value="save_diagnosa" name="aksi_diagnosa">save</button>
<button class="btn btn-vimeo btn-md"  type="submit" value="edit_diagnosa" name="aksi_diagnosa">edit</button>
<button class="btn btn-vimeo btn-md"  type="submit" value="delete_diagnosa" name="aksi_diagnosa">delete</button>     
</form>
</div>
</div>
</div>
</div>
</div> 
</body>

</html>
